@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body {
  font-family: 'Trispace', sans-serif;
  margin: 0rem auto;
}

main {
  max-width: 1000px;
  margin: 0rem auto;
}

.hero-image {
  position: absolute;
  top: 0rem;
  background-color: black;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.page-heading {
  position: absolute;
  text-align: center;
  top: 0.5rem;
  left: 5rem;
  font-size: 3rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white
}

#we-build-robots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#we-build-robots div {
  padding: 0.25rem 0.75rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  filter: drop-shadow(0.15rem 0.15rem 0.15rem grey);
  display: flex;
  flex-direction: column;
  max-width: 30%;
  transition: 0.25s background-color;
}

#we-build-robots div h2 {
  color: maroon;
  display: inline-block;
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
}

#we-build-robots div:hover {
  background-color: maroon;
  color: white;
}

#we-build-robots div:hover h2 {
  color: white;
}

#we-build-robots div h2 img {
  height: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

header {
  padding: 0.5em;
  position: sticky;
  top: 0em;
  background-color: white;
  /* filter: drop-shadow(0.15rem 0.15rem 0.25rem lightgrey); */
  z-index: 1000;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
}

.nav-bar-right a {
  margin: 0em 1em;
  text-decoration: none;
  color: maroon;
}

.nav-bar-right a:link,
.nav-bar-right a:visited {
  color: black;

}

.nav-bar-right a:focus,
.nav-bar-right a:hover,
.nav-bar-right a:active {
  color: maroon;
}

.active p {
  text-decoration: underline;
}