@import url('https://fonts.googleapis.com/css2?family=Lato&family=Trispace&display=swap');

body {
  font-family: 'Trispace', sans-serif;
  margin: 0rem auto;
}

main {
  max-width: 1000px;
  margin: 0rem auto;
}

/* Header */

nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

header {
  padding: 0.5em;
  position: sticky;
  top: 0em;
  background-color: white;
  /* filter: drop-shadow(0.15rem 0.15rem 0.25rem lightgrey); */
  z-index: 1000;
}

.nav-logo {
  display: block;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar-right a {
  margin: 0em 1em;
  text-decoration: none;
  color: maroon;
}

.nav-bar-right a p {
  font-size: 1rem;
}

.nav-bar-right a:link,
.nav-bar-right a:visited {
  color: black;

}

.nav-bar-right a:focus,
.nav-bar-right a:hover,
.nav-bar-right a:active {
  color: maroon;
}

.active p {
  text-decoration: underline;
}

/* Hero Image */

.hero-image {
  position: absolute;
  top: 0rem;
  background-color: white;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: 50% 0%;
    transition: 0.25s;
    z-index: -1;
  }
  
.hero-image.first {
    z-index: 0;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-image .logo {
  background-color: white;
  border-radius: 1rem;
  object-fit: contain;
  position: absolute;
  width: 30rem;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  max-width: 100%;
}

.hero-image-box {
  position: relative; 
  height: 28rem;
}

.hero-image-box.robot-hero-image {
  max-width: 1000px;
  margin: 0rem auto;
}

/*.page-heading {
  position: absolute;
  text-align: center;
  top: 0.5rem;
  left: 5rem;
  font-size: 3rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: white
}*/

/* We Build Robots */

#we-build-robots {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#we-build-robots div {
  padding: 0.25rem 0.75rem;
  margin: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  filter: drop-shadow(0.15rem 0.15rem 0.15rem grey);
  display: flex;
  flex-direction: column;
  max-width: 30%;
  transition: 0.25s background-color;
}

#we-build-robots div h2 {
  color: maroon;
  display: inline-block;
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
}

#we-build-robots div:hover {
  background-color: maroon;
  color: white;
}

#we-build-robots div:hover h2 {
  color: white;
}

#we-build-robots div h2 img {
  height: 3rem;
}

/* Timeline */

.timeline-item {
  display: flex;
  flex-direction: row;
  /*margin-bottom: 3em;*/
}

.timeline-item p {
  max-width: 50%;
  min-width: 50%;
  margin: auto;
  /*padding: 0.5em;*/
  text-align: center;
}

.timeline-image {
  display: flex;
  justify-content: center;
  max-width: 50%;
  min-width: 50%;
}

.timeline-image img {
  max-width: 50%;
  border-radius: 5px;
  /*CHANGE THIS TO CHANGE IMAGE SIZE ON TIMELINES*/
}

.journey h1 {
  justify-content: center;
}

.timeline {
  position: relative;
}

.timeline:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 49.8%;
  width: 3px;
  height: 100%;
  background-color: maroon;
  z-index: 10;
}

/* Team Page */

.team-page-buttons {
  display: flex;
  justify-content: center;
}

.team-page-buttons div {
  border-radius: 1rem;
  margin: 0.5rem;
  text-align: center;
  flex-grow: 1;
  border-radius: 0.5em;
  background: white;
  z-index: 1;
  flex-basis: 0;
  color: maroon;
    padding: 0.25rem 0.75rem;
    filter: drop-shadow(0.15rem 0.15rem 0.15rem grey);
}

/*.team-page-buttons div h2 {
  border: 2px solid black;
  border-radius: 0.5em;
}*/

.team-page-buttons div img {
  max-width: 20%;
  padding-top: 1em;
}

.team-page-buttons div:hover,
.team-page-buttons div:focus,
.team-page-buttons div:active {
  background-color: lightgray;
  cursor: pointer;
}

#other-buttons {
  padding-bottom: 2rem;
}

#other-buttons div {
  max-height: 6rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#other-buttons div img {
  height: 4rem;
  padding-top: 0rem;
  margin-right: 2rem;
}

#other-buttons div h2 {
  line-height: 1rem;
}
#team-cards {
  display: flex;
  flex-wrap: wrap;
    justify-content: flex-start;
    margin: 3rem auto;
}

.card {
  position: relative;
  margin: 0.5rem;
  width: 15rem;
    max-width: 23.25%;
  filter: drop-shadow(0.1rem 0.1rem 0.25rem grey);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.card .stats {
  background-color: rgba(218, 218, 218, 0.593);
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 90%;
  height: 13rem;
  padding: 1rem;
  transition: 0.2s transform;
  transform: translate(-150%, 0%);
}

.stats .member-stat {
  margin: 1rem 0rem;
}

.stats .stat-name {
  width: 90%;
}

.stats .stat-bg {
  width: 90%;
  height: 1rem;
  background-color: black;
}

.stats .stat-value {
  background-color: orange;
  height: 100%;
}

.card img {
  width: 100%;
  height: 15rem;
}

.card .desc {
  padding: 1rem;
}

.card .desc .name {
  font-weight: bold;
}

.card .member-links {
  display: flex;
  justify-content: flex-end;
}

.card .member-links button {
  margin: 0.5rem;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: monospace;
  cursor: pointer;
}

/* TODO: Team description widget */

#team-info {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

#team-info-description {
  width: 60%;
  padding: 1rem;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#team-info-description .images {
  flex-grow: 1;
  max-height: 50%;
  display: flex;
  justify-content: space-evenly;
}

#team-info-description .images img {
  max-height: 100%;
  max-width: 40%;
  margin: 0.5rem;
  object-fit: cover;
}

#team-topics-list button {
  font-family: inherit;
  display: block;
  padding: 2rem;
  font-size: 2rem;
  margin: 0rem 0.5rem;
  margin-right: 0rem;
  border: none;
  background-color: whitesmoke;
  border-radius: 2rem 0rem 0rem 2rem;
  transition: 0.1s;
  cursor: pointer;
}

#team-topics-list button:hover {
  background-color: gainsboro;
  color: maroon;
}

/* Robots page */
.photo-label {
  position: absolute;
  z-index: 2;
  color: maroon;
}

.image-position {
  position: relative;
}

.robots {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.robot-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
}

.robot {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: black;
}

.robot:focus,
.robot:hover,
.robot:active {
  background-color: lightgray;
}

.robot img {
  max-width: 50%;
}

/* Robot specific page */

.robot-side-stats-picture{
  float: right;
  border: 1px solid black;
  margin: 1em;
  display: flex;
  flex-direction: column-reverse;
  /* Picked an arbitrary width based on table width but should find a way to change this*/
  width: 296.117px;
}

.robot-icon {
  max-width: 10%;
  min-width: 80px;
  min-height: 80px;
}

.robot-header-wide {
  display: flex;
}

.robot-header-wide h1,
.robot-header-narrow h1 {
  margin-right: 1em;
}

.robot-header-narrow {
  display: none;
}

.robot-stats {
  border-top: 1px solid black;
}

.robot-stats thead th,
.robot-stats tbody tr td {
  border: 1px solid black;
}

.robot-stats tbody {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.robot-photo:hover {
  /*outline-offset: 2px;*/
  outline: 3px solid maroon;
}

.main-robot-image-box {
  max-height: 400px; /* Set max height of images */
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.main-robot-image {
  width: 100%;
  object-fit: contain; /* This is incase the image is too tall then it sizes it to fit*/
}

/* Fights */

.robot-fights-box {
  display: flex;
  justify-content: space-between;
}

/*.featured-fight-header {
  margin: 0;
}*/

.featured-fight {
  border: 1px solid black;
  border-radius: 0.5em;
  min-width: 45%; /*set higher to make video wider but then overspills when page is narrow xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
}

.featured-fight h2 {
  margin: 0.5em;
  text-decoration: underline;
}

.featured-fight-video-box {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1em;
  height: 0;
  margin: 1em;
  /*overflow: hidden;*/
}

.featured-fight-video {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.robot-fights,
.robot-fights thead th,
.robot-fights tbody tr td {
  border: 1px solid black;
}

.robot-fights tbody tr td {
  padding: 0.1em;
  padding-right: 0.4em;
}

/* Robots Media */
.robot-media-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.robot-media-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.26%;
}

.robot-media-row img {
  max-width: 31%;
  border: 1px solid black;
  border-radius: 0.5em;
}

/* Recruitment */

.application-status {
  background-color: maroon;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
}

.recruitment-timeline li {
  list-style: none;
}

.timeline-answer {
  color: grey;
  padding-bottom: 1em;
}

/* Footer */

footer {
  display: flex;
  background-color: maroon;
  justify-content: space-evenly;
}

footer h3 {
  color: white
}

footer div ul {
  list-style: none;
  padding-left: 0;
}

footer div ul li a {
  color: white;
  white-space: nowrap;
}

.footer-icon {
	width: 1em;
	margin-right: 10px;
	background: transparent;
}

.footer-information {
  display: flex;
}

.footer-logo-box-aside {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 15em;
}

.footer-logo-box-inside {
  display: none;
}

.footer-logo {
  max-width: 100%;
}

.footer-follow {
  padding-left: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-middle-line {
  border-left: 4px solid white;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

.footer-contact {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (max-width:700px) {

  main {
    padding-left: 1em;
    padding-right: 1em;
  }

  header {
    padding-left: 0.3em;
    padding-right: 0.2em;
  }

  .nav-logo {
    display: none;
  }

  .nav-bar-right a p {
    font-size: 0.85rem;
  }

  .nav-bar-right a {
    margin: 0em 0.5em;
    text-decoration: none;
    color: maroon;
  }

  #we-build-robots {
    flex-direction: column;
  }

  #we-build-robots div {
    max-width: 100%;
  }

  .robot-header-wide {
    display: none;
  }

  .robot-side-stats-picture {
    float: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 90%;
  }


  .robot-stats {
    border: 1px solid black;
    margin: 0.5em;
  }
  
  .robot-stats thead th,
  .robot-stats tbody,
  .robot-stats tbody tr td {
    border: 1px solid black;
  }

  .robot-header-narrow {
    display: flex;
    justify-content: center;
  }

  .robot-fights-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .robot-fights {
    margin-bottom: 1em;;
  }

  /* Footer */

  .footer-logo-box-aside {
    display: none;
  }

  .footer-logo-box-inside {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 15em;
  }

  .footer-middle-line {
    border-left: 4px solid white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 6em;
  }

  .footer-icon {
    margin-right: 0.2em;
  }
}